<div class="row">
    {% for post in paginator.posts %}


    <div class="col s12 m10 offset-m1 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light" style= {%if post.featured-img %} "background: url('{{site.url}}/{{post.featured-img}}');background-size: cover; background-position: center; background-repeat: no-repeat;"{% else %} "background:#43cea2; background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  background: linear-gradient(to right, #185a9d, #43cea2);{% endif %}">
            <!--<img class="activator" src="{% if post.featured-img %}{{ site.url }}{{ post.featured-img }}{% else %}{{ site.blogdefaultimgurl }}{% endif %}">-->
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 paxarinho">{{ post.title | truncate: 20}} <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="{{ post.url | prepend: site.baseurl }}">Ler Máis</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ post.date | date: "%-d/%-m/%Y" }} <i class="mdi-navigation-close right"></i></span>

            <br>
            <h5 class="grey-text text-darken-4 paxarinho">{{ post.title }} </h5>
            <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 80 }}</p>
            <div class="post-categories">
                {% if post %}
                {% assign categories = post.categories %}
                {% else %}
                {% assign categories = page.categories %}
                {% endif %}
                {% for category in categories %}
                <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                {% unless forloop.last %}|&nbsp;{% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    {% endfor %}
</div>


