{% if page.title == 'Arume' %}
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" href="{{site.url}}" class="brand-logo">
                        Os paxariños
                    </a>
                    <ul id="nav-mobile" class="right side-nav">
                        <li><a href="#intro">Sobre Nós</a></li>
                        <li><a href="#posts">Blog</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% elsif  page.title == 'Blog' %}
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" href="{{site.url}}" class="brand-logo">
                        Os paxariños
                    </a>
                    <ul id="nav-mobile" class="right side-nav">
                        <li><a href="{{ site.url }}">Inicio</a></li>
                        <li><a href="{{ site.caturl }}">Categorías</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% elsif  page.title == 'Categories' %}
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" href="{{site.url}}" class="brand-logo">
                        Os paxariños
                    </a>
                    <ul id="nav-mobile" class="right side-nav">
                        <li><a href="{{ site.url }}">Inicio</a></li>
                        <li><a href="{{ site.blogurl }}">Blog</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endif %}