<!DOCTYPE html>
<html lang="es">
{% include head.html %}
    <body id="top" class="scrollspy">
        {% include preloader.html %}
        {% include post-single_header.html %}
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <!-- POST CONTENT -->
                        {{ content }}
                        <br><br>
                        <!--POST CATEGORIES-->
                        {% include post-single_categories.html %}
                        <br><br>
                        <!--PAGER-->
                        {% include post-single_pager.html %}
                    </div>
                </div>
            </div>
        </article>
        <hr>
        <!--RELATED POSTS-->
        {% include post-single_related.html %}
        <!--FOOTER-->
        {% include footer.html %}
    </body>
    <script>
        $(window).scroll(function(){
            $("#index-banner").css("opacity", 1 - $(window).scrollTop() / 850);
        });
    </script>
</html>